* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252734;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #252734;
}

#connectBtn {
  padding: 10px 18px;
  font-size: 16px;
  background: #252734;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 32px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.choices {
  margin: 50px 0;
  text-align: center;
}

.choice {
  border: 4px solid white;
  border-radius: 50%;
  margin: 0 20px;
  padding: 10px;
  display: inline-block;
  transition: 0.3s;
}

.choice:hover {
  cursor: pointer;
  background: #a8a8a8;
}

#action-msg {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
